<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<a href="https://dataplatform.cloud.ibm.com/gallery">IBM Cloud Gallery</a>

| header | header | header |
| ------ | ------ | ------ |
| cell | cell | cell |
| cell | cell | cell |
| cell | cell | cell |

# My Jupyter Notebook on IBM Watson Studio

**Jaeyeol Choi**

AI Developer

_I am interested in data science because we can find lots of interesting things in the world by using data science._

### Calculating the distance between two points

In [4]:
import math

def distance(x, y):
    return math.sqrt(math.pow((x[0] - y[0]), 2) + math.pow((x[1] - y[1]), 2))

x = (1, 2)
y = (3, 4)

print(distance(x, y))

2.8284271247461903

- Languages used in data science
    1. python
    2. R
    3. SQL

> Recently, python is mostly used

- List of data science libraries
    - Pandas
    - Numpy
    - Matplotlib
    - Scikit-Learn
    - Pytorch

- Examples of data science tools
| Name | Usage | 
| --- | --- |
| MySQL | relational database |
| Apache Airflow | data integration and transformation |
| Hue | data visualization | 
| Apache Spark | execution |

- Arithmetic expression example
$ d = \sqrt{(x_1 - x_2)^2 + (y_1 - y_2)^2} $

In [5]:
print(3 * 2)

6

In [7]:
minute = 110
print(f'{minute//60} hours {minute%60} minutes')

1 hours 50 minutes